<main id="main-content">
  <div class="page-content">
    <h1 class="mb-5 font-sans font-bold text-2xl lg:text-3xl">{{ page.title }}</h1>
    {{ page.content }}
  </div>
</main>

{% schema %}
{
  "name": "Main content",
  "tag": "section"
}
{% endschema %}
